@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

header, body, footer {
    margin: 0;
    padding: 0;
}

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* COLORS */

.color-shark {
   color:#29292A !important;
}

.color-shark-bg {
   background-color:#29292A !important;
}

.color-martini {
    color: #B49F9F !important;
}

.color-martini-bg {
    background-color: #B49F9F !important;
}

.color-cucumber {
   color: #7CA54A !important;
}

.color-cucumber-bg {
   background-color: #7CA54A !important;
}

.color-deluge {
    color: #7862A5 !important;
}

.color-deluge-bg {
    background-color: #7862A5 !important;
}

.color-comment {
   color: #6272a4
}

.color-cyan {
   color:  #8be9fd;
}

.color-cyan-bg {
   background-color:  #8be9fd;
}

.color-background {
   color: #282a36;
}

.color-background-bg {
    background-color: #282a36;
}

.color-purple {
    color: #bd93f9;
}

.color-purple-bg {
    background-color: #bd93f9;
}

.color-pink {
   color: #ff79c6; 
}

.color-pink-bg {
   background-color: #ff79c6; 
}

/* FLEX */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
   flex-direction: column; 
}

.stretch-x {
    width: 100vw;
}

.stretch-y {
    height: 100vh;
}

.justify-content-center {
    justify-content: center;
}

.align-content-center {
    align-content: center;
}

.align-items-center {
   align-items: center; 
}

.center {
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* HEADER */

header {
    height: 300px;
    gap: 50px;
}

#name {
    padding-right: 8px;
    padding-left: 8px;
    width: 405px;
    font-size: 30pt;
    background-color: black;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

#title {
    color: white;
    font-size: 32px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    width: max-content;
}

#avatar {
    width: 300px;
    height: 150px;
    border-radius: 10px;
}

.section-tag {
    font-family: 'Anton', sans-serif;
    font-size: 17pt;
    color: rgb(0, 190, 245);
}

.section-content {
    width: 718px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}